node_modules
dist
.tmp
.sass-cache
bower_components
.DS_Store
npm-debug.log
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
.settings/
.settings/**.*
.classpath
.project
target/
target/**/*
logs/
logs/**/*
.idea/
.idea/**/*
*.iml
