//colors
$dark-purple: #7b4173;
$light-purple: #de9ed6;
$ay-purple: #741D72;
$ay-light-gray: #DCE1E4;

// Type colors
$base-text: #1c1c1c;
$text-lighter: #292929;
$text-disabled: #a1a1a1;//or #7a7a7a


//Bubble colors
$bubble-blue: #E1DEE7;
$bubble-green: #8BC63E;
$bubble-red: #EF3D46;
$bubble-dark-blue: #4AC3CC;
$bubble-navy-blue: #09455D;
$bubble-light-gray: #DCE1E4;
$bubble-mid-gray: #D8DCE4;
$bubble-dark-gray: #474F5D;

//header
$header-font-color: #777777;

// footer
$footer-dark-background-color: #2F3134;


// app container
$app-background-color: #F9F8F7;
